################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Renderer
/Debug
/Renderer.vcxproj.filters
/Renderer.vcxproj
/Renderer.vcxproj.user
/x64/Debug
/x64/Release
